*{
  padding:0;
  margin: 0;
}

html,body {
  height: 100%;
}

label,input{
  float:left;
  margin:5px;
  position:relative;
}
label{
  width:150px;
}

input{
  margin:3px;
  margin-right:0;
  margin-bottom:1px;
}

.div-label{
  width:150px;
}

.div-input{
  padding:3px;
  position:absolute;
  width:30px;
  height:30px;
  left:150px;
  top:-4px;
}

.hide-layer{
  cursor: pointer;
}

.menu-head{
  width:225px;
  height:16px;
  cursor:grab;
  position:absolute;
  left:20px;
}

.menu{
  background-color: white;
  width:250px;
  max-height:500px;
  z-index:10;
  overflow-y: auto;
  position:absolute;
}

.menu{
  border:solid;
  font-size:11;
  margin-top:1%;
  margin-left:20%;
}

.legend{
  width:50px;
  /*border:solid red;*/
  float:right;
  position:relative;
  /*margin-top:3%;
  /*margin-right:3%;*/
  top:12px;
  right:5px;
}

.item-menu{
  width: 100%;
}

#map {
  height: 100%;
}
